{% extends "base.html" %}

<!--Head Block-->
{% block head %}
<title>{{article_title}}: Home</title>
{% endblock %}

<!--Body Block-->
{% block body %}
<div class="container">
  <h1 class="text-center">{{article_title}}</h1>
  <p class="text-center">
    Written by: {% for author in article_authors %}<a
      href="/author_home/{{author.name}}"
      target="_blank"
      >{{author.name}}</a
    >{% if not loop.last %}, {% endif %} {% endfor %}
  </p>
  <p>{{ article_content }}</p>
</div>
{% endblock %}
