<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>try</title>
</head>
<body>
	<h1>Student List</h1>{{y}}
	{% if getcourse %}
	<table border = "2" id = "student-details-table">
        <thead>
          <tr>
            <th>SNo</th>
            <th>Roll Number</th>
            <th>Frist Name</th>
            <th>Last name</th>
          </tr>
        </thead>
        <tbody>
          {% for n in getcourse %}
              <tr>
                  <td>{{n["course_id"]}}</td>
                  <td>{{n["course_code"]}}</td>
                  <td>{{n["course_name"]}}</td>
                  <td>{{n["course_description"]}}</td>
              </tr>
          {% endfor %}
          <tr>
  		<td colspan = "2" style= "text-align: center;"> Total Marks</td>
  		<td>{{total}}</td>
          </tr>
        </tbody>
    </table><br><br>
    {% else %}
    <p>No student found. Add a student now!</p>
    {% endif %}
    <div>
    	<a href="/student/create">+ Add Student</a>
	</div>
</body>
</html>