<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Update student</title>
</head>
<body>
	<h1>Update Student</h1>{{ea}}
	<form action="/student/{{y.student_id}}/update" method="POST" id="update-form">
		<div>
			<label>Roll Number:</label>
			<input type="text" name="roll" value="{{ y.roll_number }}" readonly /><br><br><br><br>
		</div>
		<div>
			<label>First Name:</label>
			<input type="text" name="f_name" value="{{y.first_name}}"required /><br><br><br><br>
		</div>
		<div>
			<label>Last Name:</label>
			<input type="text" name="l_name" value="{{y.last_name}}" /><br><br><br><br>
		</div>
		<div>
			<label>Select Courses: </label>
			<input type="checkbox" name="courses" value="course_1" />
			<label>MAD I</label>
			<input type="checkbox" name="courses" value="course_2" />
			<label>DBMS</label>
			<input type="checkbox" name="courses" value="course_3" />
			<label>PDSA</label>
			<input type="checkbox" name="courses" value="course_4" />
			<label>BDM</label><br><br><br><br>
		</div>
		<div>
			<input type="submit" value = "Submit">
		</div>
	</form>
</body>
</html>